#header-wrapper {
  z-index: 1100;
  display: flex;
  align-items: center;
  height: 45px;
  background-color: #595959;
  text-decoration: none;
}
.red-title {
  color: red;
  font-size: 25px;
  margin-left: 0.9em;
  text-decoration-color: #535353;
}

.golde-title{
  color: gold;
  text-shadow: black;
}

.blue-title{
  color: #0000CD;
  text-shadow: black;
}

.black-title {
  color: black;
  text-shadow: black;
}

.white-title{
  color: beige;
  text-shadow: 5px black;
}

#top-input {
  margin-left: 20px;
  border-color: #FF6E00;
  font-size: 0.75em;
  color: #535353;
  padding: 0 0 1px 0.667em;
  width: 18.25em;
  font-family: inherit;
  vertical-align: text-bottom;
  height: 21px;
  margin-right: 0.5em;
}

.search-btn {
  height: 25px;
  vertical-align: text-bottom;
}

.header-right {
  float: right;
  display: flex;
  margin-right: 26px;
  margin-top: 10px;
  position: absolute;
  width: auto;
  top: 0;
  right: 0;
  left: auto;
  list-style: none;
}

.post-btn, .logout, .login, .signup {
  color: white;
  list-style: none;
  border:1px solid white;
  padding: 7px;
}

.post-btn, .login {
  margin-right: 21px;
}

.top-img {
  width: 50%;
  height: 30%;
  justify-content: center;
 
}