<header id="header-wrapper">
  <%= link_to root_path, id:"root-path" do %>
    <div class="red-title"><span class="white-title">S</span><span class="black-title">c</span><span class="blue-title">o</span>r<span class="golde-title">eS</span>h<span class="blue-title">e</span><span class="black-title">e</span><span class="white-title">t</span></div>
  <% end %>
  <%# <form id="header-where" action="/input/" method="get">
    <input type="text" id="top-input" name='i' placeholder="検索したいカラム名を入力してください">
    <button class="search-btn">検索</button>
  </form> %>
</header>

<div class="diary-show">
  <div class="diary-box">
    <h2 class="name">
      <%= @user.nickname %><br>
    </h2>



<%# <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> %>
