.score-table {
  margin-bottom: 30px;
  width: 100%;
}

.score-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.score-value {
  width: auto;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}
