.index-main{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-btn{
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.diary-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.diary-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.diary-info {
  background-color: #1A3073;
  height: 200px;
  color: #F2F2F2;
  padding: 1vw;
}

.diary-user{
  text-decoration: none;
  color: #1A3073;
  text-align: center;
  font-size: 2.5vh;
}

.diary-date {
  font-size: 2.5vh;
  color: #F2F2F2;
}

.diary-description {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}